/*==================================
Colors
==================================*/

.text_color_white {
  color: $white;
}

/*==================================
Margins
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
Fonts
==================================*/

.text_uppercase {
  text-transform: uppercase;
}

/*==================================
Alignment
==================================*/

.text_alignment_center {
    text-align: center;
}