/*-------------------------------
Colors
-------------------------------*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

$grey: #F1F1F1;

/*-------------------------------
Easings
-------------------------------*/

$bounce-in: cubic-bezier(.25,1.7,.35,.8);