/*==================================
Links
==================================*/

.wysiwyg a {
  color: orange;
}

/*==================================
Images
==================================*/

.wysiwyg img {
  margin-bottom: 20px;
}

/*==================================
Lists
==================================*/

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
    list-style: disc;
  }
}

.wysiwyg li {
  margin-left: 1.3em;
}

ul.no_bullets {
  list-style: none;
  
  li {
    margin-left: 0;
  }
}